# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/logs/application/device-center/device-center.log
/logs/application/file-center/file-center.log
/logs/application/ops-center/ops-center.log
/logs/application/sc-gateway/sc-gateway.log
/logs/application/uaa-server/uaa-server.2022-03-02.0.log
/logs/application/uaa-server/uaa-server.log
/logs/application/user-center/user-center.2022-03-02.0.log
/logs/application/user-center/user-center.log
/logs/audit/audit.log
/logs/point/point.log
/pipe/.project
/pipe/pipe-business/.project
/pipe/pipe-business/assets-center/.classpath
/pipe/pipe-business/assets-center/.factorypath
/pipe/pipe-business/assets-center/.project
/pipe/pipe-business/code-generator/.classpath
/pipe/pipe-business/code-generator/.factorypath
/pipe/pipe-business/code-generator/.project
/pipe/pipe-business/device-center/.classpath
/pipe/pipe-business/device-center/.factorypath
/pipe/pipe-business/device-center/.project
/pipe/pipe-business/file-center/.classpath
/pipe/pipe-business/file-center/.factorypath
/pipe/pipe-business/file-center/.project
/pipe/pipe-business/ops-center/.classpath
/pipe/pipe-business/ops-center/.factorypath
/pipe/pipe-business/ops-center/.project
/pipe/pipe-business/search-center/.project
/pipe/pipe-business/search-center/search-client/.classpath
/pipe/pipe-business/search-center/search-client/.factorypath
/pipe/pipe-business/search-center/search-client/.project
/pipe/pipe-business/search-center/search-server/.classpath
/pipe/pipe-business/search-center/search-server/.factorypath
/pipe/pipe-business/search-center/search-server/.project
/pipe/pipe-business/sso-center/.project
/pipe/pipe-business/sso-center/ss-sso/.classpath
/pipe/pipe-business/sso-center/ss-sso/.factorypath
/pipe/pipe-business/sso-center/ss-sso/.project
/pipe/pipe-business/sso-center/web-sso/.classpath
/pipe/pipe-business/sso-center/web-sso/.factorypath
/pipe/pipe-business/sso-center/web-sso/.project
/pipe/pipe-business/user-center/.classpath
/pipe/pipe-business/user-center/.factorypath
/pipe/pipe-business/user-center/.project
/pipe/pipe-commons/.project
/pipe/pipe-commons/pipe-auth-client-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-auth-client-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-auth-client-spring-boot-starter/.project
/pipe/pipe-commons/pipe-common-core/.classpath
/pipe/pipe-commons/pipe-common-core/.factorypath
/pipe/pipe-commons/pipe-common-core/.project
/pipe/pipe-commons/pipe-common-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-common-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-common-spring-boot-starter/.project
/pipe/pipe-commons/pipe-db-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-db-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-db-spring-boot-starter/.project
/pipe/pipe-commons/pipe-elasticsearch-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-elasticsearch-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-elasticsearch-spring-boot-starter/.project
/pipe/pipe-commons/pipe-log-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-log-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-log-spring-boot-starter/.project
/pipe/pipe-commons/pipe-redis-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-redis-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-redis-spring-boot-starter/.project
/pipe/pipe-commons/pipe-ribbon-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-ribbon-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-ribbon-spring-boot-starter/.project
/pipe/pipe-commons/pipe-sentinel-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-sentinel-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-sentinel-spring-boot-starter/.project
/pipe/pipe-commons/pipe-swagger2-spring-boot-starter/.classpath
/pipe/pipe-commons/pipe-swagger2-spring-boot-starter/.factorypath
/pipe/pipe-commons/pipe-swagger2-spring-boot-starter/.project
/pipe/pipe-config/.classpath
/pipe/pipe-config/.factorypath
/pipe/pipe-config/.project
/pipe/pipe-demo/.project
/pipe/pipe-demo/rocketmq-demo/.project
/pipe/pipe-demo/rocketmq-demo/rocketmq-consume/.classpath
/pipe/pipe-demo/rocketmq-demo/rocketmq-consume/.factorypath
/pipe/pipe-demo/rocketmq-demo/rocketmq-consume/.project
/pipe/pipe-demo/rocketmq-demo/rocketmq-produce/.classpath
/pipe/pipe-demo/rocketmq-demo/rocketmq-produce/.factorypath
/pipe/pipe-demo/rocketmq-demo/rocketmq-produce/.project
/pipe/pipe-demo/rocketmq-demo/rocketmq-transactional/.classpath
/pipe/pipe-demo/rocketmq-demo/rocketmq-transactional/.factorypath
/pipe/pipe-demo/rocketmq-demo/rocketmq-transactional/.project
/pipe/pipe-demo/seata-demo/.project
/pipe/pipe-demo/seata-demo/account-service/.classpath
/pipe/pipe-demo/seata-demo/account-service/.factorypath
/pipe/pipe-demo/seata-demo/account-service/.project
/pipe/pipe-demo/seata-demo/business-service/.classpath
/pipe/pipe-demo/seata-demo/business-service/.factorypath
/pipe/pipe-demo/seata-demo/business-service/.project
/pipe/pipe-demo/seata-demo/order-service/.classpath
/pipe/pipe-demo/seata-demo/order-service/.factorypath
/pipe/pipe-demo/seata-demo/order-service/.project
/pipe/pipe-demo/seata-demo/seata-common-starter/.classpath
/pipe/pipe-demo/seata-demo/seata-common-starter/.factorypath
/pipe/pipe-demo/seata-demo/seata-common-starter/.project
/pipe/pipe-demo/seata-demo/storage-service/.classpath
/pipe/pipe-demo/seata-demo/storage-service/.factorypath
/pipe/pipe-demo/seata-demo/storage-service/.project
/pipe/pipe-demo/sharding-jdbc-demo/.classpath
/pipe/pipe-demo/sharding-jdbc-demo/.factorypath
/pipe/pipe-demo/sharding-jdbc-demo/.project
/pipe/pipe-demo/txlcn-demo/.project
/pipe/pipe-demo/txlcn-demo/txlcn-demo-common/.classpath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-common/.factorypath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-common/.project
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-a/.classpath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-a/.factorypath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-a/.project
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-b/.classpath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-b/.factorypath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-b/.project
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-c/.classpath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-c/.factorypath
/pipe/pipe-demo/txlcn-demo/txlcn-demo-spring-service-c/.project
/pipe/pipe-gateway/.project
/pipe/pipe-gateway/sc-gateway/.classpath
/pipe/pipe-gateway/sc-gateway/.factorypath
/pipe/pipe-gateway/sc-gateway/.project
/pipe/pipe-gateway/zuul-gateway/.classpath
/pipe/pipe-gateway/zuul-gateway/.factorypath
/pipe/pipe-gateway/zuul-gateway/.project
/pipe/pipe-job/.project
/pipe/pipe-job/job-admin/.classpath
/pipe/pipe-job/job-admin/.factorypath
/pipe/pipe-job/job-admin/.project
/pipe/pipe-job/job-core/.classpath
/pipe/pipe-job/job-core/.factorypath
/pipe/pipe-job/job-core/.project
/pipe/pipe-job/job-executor-samples/.classpath
/pipe/pipe-job/job-executor-samples/.factorypath
/pipe/pipe-job/job-executor-samples/.project
/pipe/pipe-monitor/.project
/pipe/pipe-monitor/log-center/.classpath
/pipe/pipe-monitor/log-center/.factorypath
/pipe/pipe-monitor/log-center/.project
/pipe/pipe-monitor/sc-admin/.classpath
/pipe/pipe-monitor/sc-admin/.factorypath
/pipe/pipe-monitor/sc-admin/.project
/pipe/pipe-register/nacos-server-1.2.1/nacos/LICENSE
/pipe/pipe-register/nacos-server-1.2.1/nacos/NOTICE
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/application.properties
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/application.properties.example
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/cluster.conf.example
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/nacos-logback.xml
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/nacos-mysql.sql
/pipe/pipe-register/nacos-server-1.2.1/nacos/conf/schema.sql
/pipe/pipe-register/nacos-server-1.2.1/nacos/data/derby-data/README_DO_NOT_TOUCH_FILES.txt
/pipe/pipe-register/nacos-server-1.2.1/nacos/data/derby-data/log/README_DO_NOT_TOUCH_FILES.txt
/pipe/pipe-register/nacos-server-1.2.1/nacos/data/derby-data/seg0/README_DO_NOT_TOUCH_FILES.txt
/pipe/pipe-register/nacos-server-1.2.1/nacos/data/derby-data/service.properties
/pipe/pipe-register/nacos-server-1.2.1/nacos/data/naming/meta.properties
/pipe/pipe-transaction/.project
/pipe/pipe-transaction/txlcn-tm/.classpath
/pipe/pipe-transaction/txlcn-tm/.factorypath
/pipe/pipe-transaction/txlcn-tm/.project
/pipe/pipe-uaa/.classpath
/pipe/pipe-uaa/.factorypath
/pipe/pipe-uaa/.project
/pipe/pipe-web/.project
/pipe/pipe-web/back-web/.classpath
/pipe/pipe-web/back-web/.factorypath
/pipe/pipe-web/back-web/.project
/urban-construction-platform/pipe-connect - 快捷方式.lnk
/urban-construction-sums/package-lock.json
